* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 200px auto;
    max-width: 1000px;
    
}
.header {
    display: flex;
    justify-content: center;
    align-self: center;
}
.bio {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}

.listed-skills {
    display: flex;
    justify-content: flex-end;
    padding: 20px    
}

.background {
    display: flex;
    background-size: 1000vh;
}

.wedding-setup {
    display: grid;
    align-content: left;
    max-width: auto;
    
}

.project-heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    color: rgb(54, 77, 211);
}
.project-links {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}


.contact-heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    color: cadetblue;
}

.github-icon {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.gmail-icon {
    display: flex;
    justify-content: center;
    margin-right: auto;
}