* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 200px auto;
    max-width: 1000px;
    
}
.header {
    display: flex;
    justify-content: center;
    align-self: center;
}

.about-wrapper {
    position: relative;
    width: 100%;

}

.wedding-picture-bg-border > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 35%;
}

.bio {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60%;
    font-size: 2vw;
    color: rgb(255, 0, 106);
}

.listed-skills {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 60%;
    line-height: 1.5;
    font-size: 1.4vw;
    color: rgb(255, 255, 255);    
}

.background {
    display: flex;
    background-size: 1000vh;
}

.project-heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    color: cadetblue;
    
}
.project-links {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: cadetblue;
    cursor:grab;
}

.virtualpetlink {
    color: cadetblue;
}




.contact-heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    color: cadetblue;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

/* .github-icon {
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

.gmail-icon {
    display: flex;
    justify-content: center;
    margin-right: auto;
} */