* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 200px auto;
    max-width: 1000px;
    
}
.header {
    display: flex;
    justify-content: center;
    align-self: center;

}



