@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    color: darkblue;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: rgb(23, 216, 190);
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 1.5rem 5rem;
    position: sticky;
    top: 0;
    border-bottom: 4px 
}

#navbar li a:hover {
    background-color: rgba(62, 166, 226, 0.911);
}