@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    color: rgb(54, 199, 218);
    /* background-color: rgba(40, 158, 24, 0.555); */
}

.home {
    background-image: url(../img/background-img2.jpg);
    background-size: cover;
    opacity: 100%;
    
}

.container {
    max-width: auto;
    margin: auto;
}

.header {
    background-color: rgb(11, 63, 175);
}

.text-primary {
    color: rgb(8, 37, 65);
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(11, 63, 175);
    padding: 1.5rem 5rem;
    position: sticky;
    top: 0;
    border-bottom: 6px solid;
}

.bacon-image {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    align-items: stretch;
    max-height: 550px;
   
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.navbar ul a {
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgba(202, 183, 11, 0.219);
}

.wedding-setup {
    display: flex;
    justify-content: center;
}

.wedding-picture {
    border-radius: 200px;  
}


.github-icon {
    opacity: 35%;
}

.gmail-icon{
    opacity: 50%;
}